.what-you-get {

    &__headlight{
    &::before {
        content: '<';
    }

    &::after {
        content: '>';
    }

    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #8D81AC;
    margin: 0 47px 0 43px;
    text-align: center;
}

    &__item {
        margin: 36px 26px 0 24px;
        display: flex;
        flex-direction: column;
        align-items: center;


        @for $i from 2 to 5 {
            &:nth-of-type(#{$i}) {
                margin-top: (36px + (2px * ($i - 1)));
            }
        }
    }

    &__item-headlight {
        font-size: 16px;
        line-height: 16px;
        color: #323232;
        margin-bottom: 14px;
        margin-top: 25px;
        text-align: center;
    }

    &__item-text {
        text-align: center;
        font-family: Lato, sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
    }

    &__bg-image {
        width: 700px;
        max-height: 100vw;
    }

    &__bg-image-wrapper {
        position: relative;
        left: 10px;
    }

}

@media (min-width: 480px) {

    .what-you-get {

        &__bg-image {
            flex-basis: 850px;
        }

        &__headlight{
        padding-top: 62px;
        font-size: 42px;
        line-height: 44px;
        margin: 0;
        }
    
        &__item {
            margin: 50px 40px 0 31px;
            flex-direction: row;
            margin-top: 60px !important;

            &-text {
                text-align: left;
            }
        }

        &__item-image-wraper {
            @include flex-center;
            width: 111px;
            margin-right: 23px;
            flex-shrink: 0;
        }
    
        &__item-headlight {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 16px;
            margin-top: 0;
            text-align: left;
        }
    
    
        &__bg-image-wrapper {
            margin-left: 10px;
            overflow: hidden;
            margin-top: 64px;
            display: flex;
        }
    }

}

@media (min-width: 880px) {
    .what-you-get__bg-image-wrapper {
        display: flex;
        justify-content: end;
    }
}


@media (min-width: 993px) {

    .what-you-get > .content-wrapper {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        position: relative;
    }

    .what-you-get {

        background-color: #F4F4F4;
        display: flex;
        flex-direction: row;


        &__headlight{
        font-size: 42px;
        line-height: 44px;
        margin: 0;
        grid-column-start: 2;
        justify-self: start;
        position: relative;
        left: 30px;
        top: 54px;
        }
    
        &__item {
            margin: 50px 40px 0 31px;
            flex-direction: row;
            margin-top: 0;

            &:first-of-type {
                margin-top: 0 !important;
            }

            &-text {
                text-align: left;
            }
        }

        &__item-wrapper {
            margin-top: 0;
            margin-bottom: 71px;
            grid-column-start: 1;
        }

        &__item-image-wraper {
            @include flex-center;
            width: 111px;
            margin-right: 23px;
            flex-shrink: 0;
        }
    
        &__item-headlight {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 16px;
            margin-top: 0;
            text-align: left;
        }
    
    
        &__bg-image-wrapper {
            display: block;
            margin-left: 10px;
            overflow: hidden;
            margin-top: 53px;
            margin-bottom: 33px;
            grid-column-start: 2;
        }
    }

}

@media (min-width: 1200px) {
    .what-you-get > .content-wrapper {
        width: 1200px;
    }
}